# Cloudinary
CLOUDINARY_CLOUD_NAME=seu_cloud_name
CLOUDINARY_API_KEY=sua_api_key
CLOUDINARY_API_SECRET=sua_api_secret
CLOUDINARY_UPLOAD_PRESET=seu_upload_preset

# Anthropic Claude
ANTHROPIC_API_KEY=sua_chave_claude

# Server
PORT=3000
NODE_ENV=development
